body *{
  font-family: 'Anonymous Pro';
}
.mainTable {
  margin-top:20px;
  margin-bottom:20px;
  border-spacing: 0px;
  border-bottom: 1px solid darkgrey; 
  border-right: 1px solid darkgrey;
}
.mainTable * {
  padding-left :6px;
  padding-right :6px;
  border: 1px solid darkgrey;
  border-right: none;
  border-bottom: none;
}
.newData {
  /* background-color: blueviolet;*/
}
